link(rel="stylesheet" , href="./css/plan.css")
.plan
  h3.plan-title
    | #{plan.name}
  .plan-cost
    span.plan-price $#{plan.price}
    span.plan-type / Monthly
  ul.plan-features
    li
      i.ion-checkmark  
      | That's only #{Math.ceil(plan.price/(plan.duration))} $ per month
    li
      i.ion-checkmark  
      | 1 Meal Every Day
    li
      i.ion-checkmark  
      | Rated #{plan.ratings} out of 10
    li
      i.ion-checkmark  
      | Access to new Creations
    li
      i.ion-checkmark  
      | 24/7 Order Available
    li
      i.ion-checkmark  
      | Free Delievery
    if role=="admin"
     li
      |#{plan.id}
  .plan-select
    a(href='') Select Plan
  
